$font: 'Roboto Condensed', sans-serif;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
}

.main {
    padding-top: 2rem;
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-family: sans-serif;
    h1 {
        text-align: center;
    }
}

@media only screen and (min-width: 360px ) and (max-width: 960px) {
    .main {
        max-width: 90%;
    }
}

.logo {
    width: 100%;
    margin: 2rem auto;

    display: flex;
    justify-content: center;
}

.people {
    ul{
        width: 540px;
        height: auto;
        list-style: none;
        padding: 0.4rem 2rem;;

        display: flex;
        flex-direction: column;

        &:hover{
            box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;
        }

        li {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-weight: 100;
            font-size: 2rem;

            span {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: rgba(255,255,255, .09);

    margin-bottom: 1rem;

    color: white;
    box-shadow: rgb(255 255 255 / 28%) 0 0 8px;

    span {
        width: 50%;
        display: flex;
    }

    li {
        margin: .3rem 0;
    }

    .person {
        width: 100%;
        display: flex;
        flex-direction: row;
        div {
            width: 150px;
        }
    }
    .label {
        font-size: .9rem;
    }
}

